/*  your css code here. If applicable */
.header{
	text-align:center;
	background-color:#011e29;
	color:white;
	padding:2px;
}
.pictorial-news-section{
	padding:2px;
	width:40;
	text-align:center;
	border-radius:40;
}
.latest-news-section{
	padding:2px;
	width:40;
}